In [22]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv('source/words.txt')
df['meaning'] = 'I duno'
df

             word meaning
0         abandon  I duno
1         ability  I duno
2            able  I duno
3        abortion  I duno
4           about  I duno
5           above  I duno
6          abroad  I duno
7         absence  I duno
8        absolute  I duno
9      absolutely  I duno
10         absorb  I duno
11          abuse  I duno
12       academic  I duno
13         accept  I duno
14         access  I duno
15       accident  I duno
16      accompany  I duno
17     accomplish  I duno
18      according  I duno
19        account  I duno
20       accurate  I duno
21         accuse  I duno
22        achieve  I duno
23    achievement  I duno
24           acid  I duno
25    acknowledge  I duno
26        acquire  I duno
27         across  I duno
28            act  I duno
29         action  I duno
...           ...     ...
2969      working  I duno
2970        works  I duno
2971     workshop  I duno
2972        world  I duno
2973      worried  I duno
2974        worry  I duno
2975        worth  I duno
2976        would  I duno
2977        wound  I duno
2978         wrap  I duno
2979        write  I duno
2980       writer  I duno
2981      writing  I duno
2982        wrong  I duno
2983         yard  I duno
2984         yeah  I duno
2985         year  I duno
2986         yell  I duno
2987       yellow  I duno
2988          yes  I duno
2989    yesterday  I duno
2990          yet  I duno
2991        yield  I duno
2992          you  I duno
2993        young  I duno
2994         your  I duno
2995        yours  I duno
2996     yourself  I duno
2997        youth  I duno
2998         zone  I duno

[2999 rows x 2 columns]

In [36]:
class Dictionary:
    def __init__(self, file):
        self.file = file
        self.all_words = {}
    
    def read_words(self):
        print(self.file)
    
    def find_word(self, word):
        found = self.file.loc[self.file['word'] == word]
        if found.empty:
            print("Sorry!")
        else:
            print('I got it!, here you are: ')
            print(found)

In [41]:
test = Dictionary(df)

In [42]:
test.find_word('make')

I got it!, here you are:
      word meaning
1588  make  I duno

In [6]:
import re
import pyperclip
s = re.compile(r'(Ha){3,5}')
text = 'HaHaHaHaHa'
mo = s.search(text)
mo.group()

'HaHaHaHaHa'

In [7]:
l = [1,2,3,4,5,6,7,8,9]
print(np.array(l).reshape(3,3))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [8]:
pd.__version__

'1.0.5'

# Dabbling with my students - Session 1

In [9]:
students  = pd.read_csv('source/grades.csv')

In [10]:
students.head()

,id,academic_num,student_name,short_practical,short_theoretical,project,participation,homework,portfolio,final_theoretical,final_practical,attendance,total
0,1,40007,رضاء بن حسين بن احمد الدالوي,0.0,2.25,0.0,1.5,1.50,3.0,0.0,0.0,0.0,8.25
1,2,40031,مهدي بن عبدالله بن ابراهيم الجابر,0.0,2.50,0.0,2.5,1.50,3.0,0.0,0.0,0.0,9.50
2,3,40036,علي بن محمد بن عبدالوهاب الحداد,0.0,2.50,0.0,1.5,0.75,3.0,0.0,0.0,0.0,7.75
3,4,40039,محمد بن قاسم بن عبدالله الحمد,0.0,0.00,0.0,0.0,0.00,1.0,0.0,0.0,0.0,1.00
4,5,40043,حسن بن علي بن عبدالمحسن الخطام,0.0,2.00,0.0,2.5,0.00,1.0,0.0,0.0,0.0,5.50

In [11]:
def adjust_grade(n):
    if n > 5 and n < 10:
        return 2.5
    elif n > 10:
        return 5
    elif n < 5:
        return 1.0

In [12]:
students['short_practical'] = students['total'].apply(adjust_grade)
students['project'] = students['total'].apply(adjust_grade)
students.head(50)

,id,academic_num,student_name,short_practical,short_theoretical,project,participation,homework,portfolio,final_theoretical,final_practical,attendance,total
0,1,40007,رضاء بن حسين بن احمد الدالوي,2.5,2.25,2.5,1.5,1.50,3.0,0.0,0.0,0.0,8.25
1,2,40031,مهدي بن عبدالله بن ابراهيم الجابر,2.5,2.50,2.5,2.5,1.50,3.0,0.0,0.0,0.0,9.50
2,3,40036,علي بن محمد بن عبدالوهاب الحداد,2.5,2.50,2.5,1.5,0.75,3.0,0.0,0.0,0.0,7.75
3,4,40039,محمد بن قاسم بن عبدالله الحمد,1.0,0.00,1.0,0.0,0.00,1.0,0.0,0.0,0.0,1.00
4,5,40043,حسن بن علي بن عبدالمحسن الخطام,2.5,2.00,2.5,2.5,0.00,1.0,0.0,0.0,0.0,5.50
5,6,40056,حسين بن محمد بن صالح النجار,2.5,2.25,2.5,0.5,1.50,3.0,0.0,0.0,0.0,7.25
6,7,40102,احمد بن عبدالرووف بن عبدالله العيسى,2.5,2.13,2.5,2.0,2.50,3.0,0.0,0.0,0.0,9.63
7,8,40103,حسين بن علي بن موسى الخرس,2.5,2.00,2.5,3.0,1.50,3.0,0.0,0.0,0.0,9.50
8,9,40104,فيصل بن فاضل بن منصور الصبيحه,1.0,1.13,1.0,0.5,0.00,1.0,0.0,0.0,0.0,2.63
9,10,40111,كرار بن عبدالمنعم بن راضي ابوناجمه,5.0,2.13,5.0,3.0,2.50,3.0,0.0,0.0,0.0,10.63
10,11,40115,علي بن حسين بن عبدالله السرهيد,1.0,2.50,1.0,0.5,0.00,1.0,0.0,0.0,0.0,4.00
11,12,40131,مهدي بن علي بن عبدالمحسن المحمدصالح,2.5,2.25,2.5,1.0,1.50,3.0,0.0,0.0,0.0,7.75
12,13,40167,محمد بن عبدالمحسن بن علي الجعفر,2.5,1.88,2.5,2.5,2.50,3.0,0.0,0.0,0.0,9.88
13,14,40168,عبدالله بن محمد بن عبدالله الشبيب,2.5,1.00,2.5,2.0,1.50,3.0,0.0,0.0,0.0,7.50
14,15,40188,مرتضى بن احمد بن عبدالله الحدب,NaN,2.50,NaN,3.0,1.50,3.0,0.0,0.0,0.0,10.00
15,16,40208,محمد بن راضي بن محمد السلطان,2.5,2.13,2.5,3.0,1.50,3.0,0.0,0.0,0.0,9.63
16,17,40218,حسين بن علي بن حسين السويج,2.5,2.00,2.5,2.5,1.50,3.0,0.0,0.0,0.0,9.00
17,18,40225,علي بن محمد بن احمد الغوينم,5.0,2.13,5.0,3.0,2.50,3.0,0.0,0.0,0.0,10.63
18,19,40246,احمد بن محمد بن عبدالوهاب الخليفه,5.0,2.50,5.0,3.0,2.50,3.0,0.0,0.0,0.0,11.00
19,20,40249,عبدالله بن فكري بن عبدالله بوصبيح,2.5,2.50,2.5,1.5,2.50,3.0,0.0,0.0,0.0,9.50
20,21,40251,محمد بن عبدالكريم بن طاهر الدباب,2.5,1.50,2.5,0.5,1.50,3.0,0.0,0.0,0.0,6.50
21,22,40013,حسن بن احمد بن محمد الغريب,1.0,1.88,1.0,0.0,0.00,3.0,0.0,0.0,0.0,4.88
22,23,40028,جعفر بن شاكر بن سلمان الشليان,2.5,1.88,2.5,2.5,2.50,2.0,0.0,0.0,0.0,8.88
23,24,40033,علي بن سلمان بن علي السلطان,1.0,1.50,1.0,0.5,0.00,1.0,0.0,0.0,0.0,3.00
24,25,40048,عبدالاله بن علي بن عبدالله الحرز,1.0,2.38,1.0,0.0,0.50,1.0,0.0,0.0,0.0,3.88
25,26,40060,كاظم بن موسى بن محمد الشوارب,2.5,2.50,2.5,2.5,1.50,3.0,0.0,0.0,0.0,9.50
26,27,40061,علي بن موسى بن محمد الشوارب,2.5,2.50,2.5,2.5,1.50,3.0,0.0,0.0,0.0,9.50
27,28,40084,علي بن نبيل بن علي الحسن,2.5,2.38,2.5,3.0,1.50,3.0,0.0,0.0,0.0,9.88
28,29,40089,محمد بن راضي بن طاهر اللايذ,5.0,2.50,5.0,2.5,2.50,3.0,0.0,0.0,0.0,10.50
29,30,40090,علي بن عبدالجليل بن علي البوعلي,5.0,2.13,5.0,3.0,2.50,3.0,0.0,0.0,0.0,10.63
30,31,40095,يوسف بن عبدالله بن عبدالرزاق المصطفى,5.0,2.25,5.0,3.0,2.50,3.0,0.0,0.0,0.0,10.75
31,32,40110,حسين بن سامي بن محمد المسلم,5.0,2.38,5.0,2.5,2.50,3.0,0.0,0.0,0.0,10.38
32,33,40124,عبدالله بن عباس بن ياسين العمران,2.5,2.13,2.5,2.5,2.00,3.0,0.0,0.0,0.0,9.63
33,34,40128,النبأ بن زكريا بن احمد الحرز,5.0,2.50,5.0,3.0,2.50,3.0,0.0,0.0,0.0,11.00
34,35,40154,عبدالله بن احمد بن عبدالله الخضير,2.5,2.50,2.5,2.5,1.50,3.0,0.0,0.0,0.0,9.50
35,36,40175,علي بن حسين بن محمد المهناء,2.5,1.75,2.5,0.5,1.50,3.0,0.0,0.0,0.0,6.75
36,37,40205,علي بن عبدالعزيز بن علي الحمد,2.5,2.38,2.5,0.5,1.50,3.0,0.0,0.0,0.0,7.38
37,38,40229,حسين بن صادق بن موسى السني,2.5,1.63,2.5,2.0,1.50,3.0,0.0,0.0,0.0,8.13
38,39,40235,حيدر بن علي بن عبدالمطلب الحاجي,2.5,1.88,2.5,2.5,0.00,1.0,0.0,0.0,0.0,5.38
39,40,40239,محمد بن هاىل بن محمد عبدالله,2.5,2.00,2.5,3.0,0.50,3.0,0.0,0.0,0.0,8.50
40,41,40247,عبدالرحمن بن عبدالله بن عيسى البطيان,2.5,2.38,2.5,0.5,1.50,3.0,0.0,0.0,0.0,7.38
41,42,40253,محمد بن آدم بن علي النجيدي,5.0,2.38,5.0,3.0,2.50,3.0,0.0,0.0,0.0,10.88
42,43,40254,محمد بن حسن بن محمد الحاجي,2.5,1.88,2.5,2.5,2.50,3.0,0.0,0.0,0.0,9.88

In [82]:
import pygame

pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

In [83]:
import os
os.system('sudo pip3 install pygame')

256

In [84]:
df = pd.DataFrame()

In [8]:
df.append({'name': 'Ali', 'age': 84, 'major': 'CS'}, ignore_index=True)

    age major name
0  84.0    CS  Ali

In [9]:
df.append({'name': 'Ali', 'age': 84, 'major': 'CS'}, ignore_index=True)

    age major name
0  84.0    CS  Ali

### My top 25 pandas tricks

In [ ]:
# youtube: https://www.youtube.com/watch?v=RlIiVeig3hc

In [5]:
import numpy as np
import pandas as pd

In [8]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.299244,0.605673,0.469189,0.437932,0.844228,0.547472,0.251408,0.377927
1,0.290096,0.738282,0.114033,0.870863,0.000413,0.254149,0.763756,0.197123
2,0.592395,0.494605,0.281314,0.867162,0.716813,0.782407,0.458682,0.466080
3,0.751154,0.536311,0.559476,0.044357,0.254676,0.832854,0.931820,0.403695

In [9]:
pd.DataFrame(np.random.rand(4, 8), columns=list("abcdefgh"))

,a,b,c,d,e,f,g,h
0,0.507424,0.447359,0.328174,0.088992,0.422068,0.661569,0.374426,0.903300
1,0.184404,0.917283,0.366438,0.028990,0.464620,0.982437,0.460733,0.395186
2,0.655896,0.744155,0.577225,0.012587,0.348920,0.541412,0.624842,0.725861
3,0.154702,0.464022,0.997393,0.569069,0.523043,0.892768,0.765105,0.163906

### Json and pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("source/owid-covid-data.json")

In [3]:
df

,AFG,OWID_AFR,ALB,DZA,AND,AGO,AIA,ATG,ARG,ARM,...,URY,UZB,VUT,VAT,VEN,VNM,OWID_WRL,YEM,ZMB,ZWE
aged_65_older,2.581,NaN,13.188,6.211,NaN,2.405,NaN,6.933,11.198,11.232,...,14.655,4.469,4.394,NaN,6.614,7.15,8.696,2.922,2.48,2.822
aged_70_older,1.337,NaN,8.643,3.857,NaN,1.362,NaN,4.631,7.441,7.571,...,10.361,2.873,2.62,NaN,3.915,4.718,5.355,1.583,1.542,1.882
cardiovasc_death_rate,597.029,NaN,304.195,278.364,109.135,276.045,NaN,191.511,191.032,341.01,...,160.708,724.417,546.3,NaN,204.85,245.465,233.07,495.003,234.499,307.846
continent,Asia,NaN,Europe,Africa,Europe,Africa,North America,North America,South America,Asia,...,South America,Asia,Oceania,Europe,South America,Asia,NaN,Asia,Africa,Africa
data,"[{'date': '2020-02-24', 'total_cases': 1.0, 'n...","[{'date': '2020-02-13', 'new_cases': 0.0, 'new...","[{'date': '2020-02-25', 'new_tests': 8.0, 'tot...","[{'date': '2020-02-25', 'total_cases': 1.0, 'n...","[{'date': '2020-03-02', 'total_cases': 1.0, 'n...","[{'date': '2020-03-20', 'total_cases': 1.0, 'n...","[{'date': '2021-02-04', 'total_vaccinations': ...","[{'date': '2020-03-13', 'total_cases': 1.0, 'n...","[{'date': '2020-01-01', 'new_tests': 1.0, 'tot...","[{'date': '2020-03-01', 'total_cases': 1.0, 'n...",...,"[{'date': '2020-03-13', 'total_cases': 4.0, 'n...","[{'date': '2020-03-15', 'total_cases': 1.0, 'n...","[{'date': '2020-11-10', 'total_cases': 1.0, 'n...","[{'date': '2020-03-06', 'total_cases': 1.0, 'n...","[{'date': '2020-03-14', 'total_cases': 2.0, 'n...","[{'date': '2020-01-23', 'total_cases': 2.0, 'n...","[{'date': '2020-01-22', 'total_cases': 557.0, ...","[{'date': '2020-04-10', 'total_cases': 1.0, 'n...","[{'date': '2020-03-18', 'total_cases': 2.0, 'n...","[{'date': '2020-03-20', 'total_cases': 1.0, 'n..."
diabetes_prevalence,9.59,NaN,10.08,6.73,7.97,3.94,NaN,13.17,5.5,7.11,...,6.93,7.57,12.02,NaN,6.47,6,8.51,5.35,3.94,1.82
extreme_poverty,NaN,NaN,1.1,0.5,NaN,NaN,NaN,NaN,0.6,1.8,...,0.1,NaN,13.2,NaN,NaN,2,10,18.8,57.5,21.4
female_smokers,NaN,NaN,7.1,0.7,29,NaN,NaN,NaN,16.2,1.5,...,14,1.3,2.8,NaN,NaN,1,6.434,7.6,3.1,1.6
gdp_per_capita,1803.99,NaN,11803.4,13913.8,NaN,5819.49,NaN,21490.9,18933.9,8787.58,...,20551.4,6253.1,2921.91,NaN,16745,6171.88,15469.2,1479.15,3689.25,1899.78
handwashing_facilities,37.746,NaN,NaN,83.741,NaN,26.664,NaN,NaN,NaN,94.043,...,NaN,NaN,25.209,NaN,NaN,85.847,60.13,49.542,13.938,36.791
hospital_beds_per_thousand,0.5,NaN,2.89,1.9,NaN,NaN,NaN,3.8,5,4.2,...,2.8,4,NaN,NaN,0.8,2.6,2.705,0.7,2,1.7
human_development_index,0.511,NaN,0.795,0.748,0.868,0.581,NaN,0.778,0.845,0.776,...,0.817,0.72,0.609,NaN,0.711,0.704,0.737,0.47,0.584,0.571
life_expectancy,64.83,NaN,78.57,76.88,83.73,61.15,81.88,77.02,76.67,75.09,...,77.91,71.72,70.47,75.12,72.06,75.4,72.58,66.12,63.89,61.49
location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,World,Yemen,Zambia,Zimbabwe
male_smokers,NaN,NaN,51.2,30.4,37.8,NaN,NaN,NaN,27.7,52.1,...,19.9,24.7,34.5,NaN,NaN,45.9,34.635,29.2,24.7,30.7
median_age,18.6,NaN,38,29.1,NaN,16.8,NaN,32.1,31.9,35.7,...,35.6,28.2,23.1,NaN,29,32.6,30.9,20.3,17.7,19.6
population,3.89283e+07,1.3406e+09,2.8778e+06,4.3851e+07,77265,3.28663e+07,15002,97928,4.51958e+07,2.96323e+06,...,3.47373e+06,3.34692e+07,307150,809,2.84359e+07,9.73386e+07,7.7948e+09,2.9826e+07,1.8384e+07,1.48629e+07
population_density,54.422,NaN,104.871,17.348,163.755,23.89,NaN,231.845,16.177,102.931,...,19.751,76.134,22.662,NaN,36.253,308.127,58.045,53.508,22.995,42.729

### Jason and python

In [2]:
import json

json_file = open("source/example_2.json", "r")
covid = json.load(json_file)
json_file.close()
covid

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [7]:
covid["quiz"]["sport"]

{'q1': {'question': 'Which one is correct team name in NBA?',
  'options': ['New York Bulls',
   'Los Angeles Kings',
   'Golden State Warriros',
   'Huston Rocket'],
  'answer': 'Huston Rocket'}}

In [13]:
for k, v in covid.items():
    for i, j in v.items():
        print(i)

sport
maths

### Covid-19 data analysis

#### data from: https://ourworldindata.org/coronavirus-source-data

In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv("source/owid-covid-data.csv")

In [3]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [4]:
ksa = df[df["location"] == "Saudi Arabia"]

In [7]:
ksa[["date", "new_tests", "total_tests", "total_vaccinations", "people_fully_vaccinated"]].tail(10)

,date,new_tests,total_tests,total_vaccinations,people_fully_vaccinated
70991,2021-05-13,56495.0,17868871.0,11195164.0,NaN
70992,2021-05-14,47586.0,17916457.0,11312391.0,NaN
70993,2021-05-15,54049.0,17970506.0,11489358.0,NaN
70994,2021-05-16,61665.0,18032171.0,11668767.0,NaN
70995,2021-05-17,73933.0,18106104.0,11828549.0,NaN
70996,2021-05-18,88859.0,18194963.0,12020008.0,NaN
70997,2021-05-19,93896.0,18288859.0,12225726.0,NaN
70998,2021-05-20,81678.0,18370537.0,12436389.0,NaN
70999,2021-05-21,NaN,NaN,12616680.0,NaN
71000,2021-05-22,NaN,NaN,12791781.0,NaN

In [6]:
ksa.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
70996,SAU,Asia,Saudi Arabia,2021-05-18,435027.0,1047.0,951.143,7188.0,14.0,12.857,...,49045.411,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854
70997,SAU,Asia,Saudi Arabia,2021-05-19,436239.0,1212.0,978.571,7201.0,13.0,12.857,...,49045.411,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854
70998,SAU,Asia,Saudi Arabia,2021-05-20,437569.0,1330.0,1009.143,7214.0,13.0,13.143,...,49045.411,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854
70999,SAU,Asia,Saudi Arabia,2021-05-21,438705.0,1136.0,1039.000,7224.0,10.0,12.857,...,49045.411,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854
71000,SAU,Asia,Saudi Arabia,2021-05-22,439847.0,1142.0,1082.571,7237.0,13.0,12.857,...,49045.411,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854

In [8]:
data = pd.read_csv("source/owid-covid-data.csv")
covid_all = data[["location", "total_cases"]]
ksa = covid_all[covid_all["location"] == "Saudi Arabia"]
count = len(ksa)

In [9]:
for k, v in ksa.items():
    print(v)

70554    Saudi Arabia
70555    Saudi Arabia
70556    Saudi Arabia
70557    Saudi Arabia
70558    Saudi Arabia
70559    Saudi Arabia
70560    Saudi Arabia
70561    Saudi Arabia
70562    Saudi Arabia
70563    Saudi Arabia
70564    Saudi Arabia
70565    Saudi Arabia
70566    Saudi Arabia
70567    Saudi Arabia
70568    Saudi Arabia
70569    Saudi Arabia
70570    Saudi Arabia
70571    Saudi Arabia
70572    Saudi Arabia
70573    Saudi Arabia
70574    Saudi Arabia
70575    Saudi Arabia
70576    Saudi Arabia
70577    Saudi Arabia
70578    Saudi Arabia
70579    Saudi Arabia
70580    Saudi Arabia
70581    Saudi Arabia
70582    Saudi Arabia
70583    Saudi Arabia
             ...
70971    Saudi Arabia
70972    Saudi Arabia
70973    Saudi Arabia
70974    Saudi Arabia
70975    Saudi Arabia
70976    Saudi Arabia
70977    Saudi Arabia
70978    Saudi Arabia
70979    Saudi Arabia
70980    Saudi Arabia
70981    Saudi Arabia
70982    Saudi Arabia
70983    Saudi Arabia
70984    Saudi Arabia
70985    Saudi Arabia
70986    Saudi Arabia
70987    Saudi Arabia
70988    Saudi Arabia
70989    Saudi Arabia
70990    Saudi Arabia
70991    Saudi Arabia
70992    Saudi Arabia
70993    Saudi Arabia
70994    Saudi Arabia
70995    Saudi Arabia
70996    Saudi Arabia
70997    Saudi Arabia
70998    Saudi Arabia
70999    Saudi Arabia
71000    Saudi Arabia
Name: location, Length: 447, dtype: object
70554         1.0
70555         1.0
70556         1.0
70557         5.0
70558         5.0
70559         5.0
70560        11.0
70561        15.0
70562        20.0
70563        21.0
70564        45.0
70565        86.0
70566       103.0
70567       103.0
70568       118.0
70569       171.0
70570       171.0
70571       274.0
70572       344.0
70573       392.0
70574       511.0
70575       562.0
70576       767.0
70577       900.0
70578      1012.0
70579      1104.0
70580      1203.0
70581      1299.0
70582      1453.0
70583      1563.0
           ...
70971    410191.0
70972    411263.0
70973    412216.0
70974    413174.0
70975    414219.0
70976    415281.0
70977    416307.0
70978    417363.0
70979    418411.0
70980    419348.0
70981    420301.0
70982    421300.0
70983    422316.0
70984    423406.0
70985    424445.0
70986    425442.0
70987    426384.0
70988    427370.0
70989    428369.0
70990    429389.0
70991    430505.0
70992    431432.0
70993    432269.0
70994    433094.0
70995    433980.0
70996    435027.0
70997    436239.0
70998    437569.0
70999    438705.0
71000    439847.0
Name: total_cases, Length: 447, dtype: float64

# preparing books.csv

In [20]:
import pandas as pd
import random

In [21]:
books = pd.read_csv('books.csv')

In [22]:
#books['Book ID'] = random.randint(100, 200)

In [33]:
for i in books.iterrows():
    print(i)

(0, Title        Fundamentals of Wavelets
Author               Goswami, Jaideva
Genre               signal_processing
Height                            228
Publisher                       Wiley
Name: 0, dtype: object)
(1, Title           Data Smart
Author       Foreman, John
Genre         data_science
Height                 235
Publisher            Wiley
Name: 1, dtype: object)
(2, Title        God Created the Integers
Author               Hawking, Stephen
Genre                     mathematics
Height                            197
Publisher                     Penguin
Name: 2, dtype: object)
(3, Title        Superfreakonomics
Author         Dubner, Stephen
Genre                economics
Height                     179
Publisher        HarperCollins
Name: 3, dtype: object)
(4, Title         Orientalism
Author       Said, Edward
Genre             history
Height                197
Publisher         Penguin
Name: 4, dtype: object)
(5, Title        Nature of Statistical Learning Theory, The
Author                                 Vapnik, Vladimir
Genre                                      data_science
Height                                              230
Publisher                                      Springer
Name: 5, dtype: object)
(6, Title        Integration of the Indian States
Author                             Menon, V P
Genre                                 history
Height                                    217
Publisher                    Orient Blackswan
Name: 6, dtype: object)
(7, Title        Drunkard's Walk, The
Author          Mlodinow, Leonard
Genre                     science
Height                        197
Publisher                 Penguin
Name: 7, dtype: object)
(8, Title        Image Processing & Mathematical Morphology
Author                                      Shih, Frank
Genre                                 signal_processing
Height                                              241
Publisher                                           CRC
Name: 8, dtype: object)
(9, Title        How to Think Like Sherlock Holmes
Author                        Konnikova, Maria
Genre                               psychology
Height                                     240
Publisher                              Penguin
Name: 9, dtype: object)
(10, Title        Data Scientists at Work
Author           Sebastian Gutierrez
Genre                   data_science
Height                           230
Publisher                     Apress
Name: 10, dtype: object)
(11, Title        Slaughterhouse Five
Author            Vonnegut, Kurt
Genre                    fiction
Height                       198
Publisher           Random House
Name: 11, dtype: object)
(12, Title        Birth of a Theorem
Author          Villani, Cedric
Genre               mathematics
Height                      234
Publisher           Bodley Head
Name: 12, dtype: object)
(13, Title        Structure & Interpretation of Computer Programs
Author                                       Sussman, Gerald
Genre                                       computer_science
Height                                                   240
Publisher                                          MIT Press
Name: 13, dtype: object)
(14, Title        Age of Wrath, The
Author          Eraly, Abraham
Genre                  history
Height                     238
Publisher              Penguin
Name: 14, dtype: object)
(15, Title          Trial, The
Author       Kafka, Frank
Genre             fiction
Height                198
Publisher    Random House
Name: 15, dtype: object)
(16, Title        Statistical Decision Theory'
Author                        Pratt, John
Genre                        data_science
Height                                236
Publisher                       MIT Press
Name: 16, dtype: object)
(17, Title        Data Mining Handbook
Author             Nisbet, Robert
Genre                data_science
Height                        242
Publisher                  Apress
Name: 17, dtype: object)
(18, Title        New Machiavelli, The
Author               Wells, H. G.
Genre                     fiction
Height                        180
Publisher                 Penguin
Name: 18, dtype: object)
(19, Title        Physics & Philosophy
Author         Heisenberg, Werner
Genre                     science
Height                        197
Publisher                 Penguin
Name: 19, dtype: object)
(20, Title         Making Software
Author             Oram, Andy
Genre        computer_science
Height                    232
Publisher            O'Reilly
Name: 20, dtype: object)
(21, Title        Analysis, Vol I
Author          Tao, Terence
Genre            mathematics
Height                   248
Publisher                HBA
Name: 21, dtype: object)
(22, Title        Machine Learning for Hackers
Author                       Conway, Drew
Genre                        data_science
Height                                233
Publisher                        O'Reilly
Name: 22, dtype: object)
(23, Title        Signal and the Noise, The
Author                    Silver, Nate
Genre                     data_science
Height                             233
Publisher                      Penguin
Name: 23, dtype: object)
(24, Title        Python for Data Analysis
Author                  McKinney, Wes
Genre                    data_science
Height                            233
Publisher                    O'Reilly
Name: 24, dtype: object)
(25, Title        Introduction to Algorithms
Author                   Cormen, Thomas
Genre                  computer_science
Height                              234
Publisher                     MIT Press
Name: 25, dtype: object)
(26, Title        Beautiful and the Damned, The
Author                     Deb, Siddhartha
Genre                           nonfiction
Height                                 198
Publisher                          Penguin
Name: 26, dtype: object)
(27, Title        Outsider, The
Author       Camus, Albert
Genre              fiction
Height                 198
Publisher          Penguin
Name: 27, dtype: object)
(28, Title        Complete Sherlock Holmes, The - Vol I
Author                         Doyle, Arthur Conan
Genre                                      fiction
Height                                         176
Publisher                             Random House
Name: 28, dtype: object)
(29, Title        Complete Sherlock Holmes, The - Vol II
Author                          Doyle, Arthur Conan
Genre                                       fiction
Height                                          176
Publisher                              Random House
Name: 29, dtype: object)
(30, Title        Wealth of Nations, The
Author                  Smith, Adam
Genre                     economics
Height                          175
Publisher              Random House
Name: 30, dtype: object)
(31, Title        Pillars of the Earth, The
Author                    Follett, Ken
Genre                          fiction
Height                             176
Publisher                 Random House
Name: 31, dtype: object)
(32, Title           Mein Kampf
Author       Hitler, Adolf
Genre           nonfiction
Height                 212
Publisher             Rupa
Name: 32, dtype: object)
(33, Title        Tao of Physics, The
Author            Capra, Fritjof
Genre                    science
Height                       179
Publisher                Penguin
Name: 33, dtype: object)
(34, Title        Surely You're Joking Mr Feynman
Author                      Feynman, Richard
Genre                                science
Height                                   198
Publisher                       Random House
Name: 34, dtype: object)
(35, Title        Farewell to Arms, A
Author         Hemingway, Ernest
Genre                    fiction
Height                       179
Publisher                   Rupa
Name: 35, dtype: object)
(36, Title              Veteran, The
Author       Forsyth, Frederick
Genre                   fiction
Height                      177
Publisher            Transworld
Name: 36, dtype: object)
(37, Title        False Impressions
Author         Archer, Jeffery
Genre                  fiction
Height                     177
Publisher                  Pan
Name: 37, dtype: object)
(38, Title        Last Lecture, The
Author           Pausch, Randy
Genre               nonfiction
Height                     197
Publisher             Hyperion
Name: 38, dtype: object)
(39, Title        Return of the Primitive
Author                     Rand, Ayn
Genre                     philosophy
Height                           202
Publisher                    Penguin
Name: 39, dtype: object)
(40, Title            Jurassic Park
Author       Crichton, Michael
Genre                  fiction
Height                     174
Publisher         Random House
Name: 40, dtype: object)
(41, Title        Russian Journal, A
Author          Steinbeck, John
Genre                nonfiction
Height                      196
Publisher               Penguin
Name: 41, dtype: object)
(42, Title        Tales of Mystery and Imagination
Author                       Poe, Edgar Allen
Genre                                 fiction
Height                                    172
Publisher                       HarperCollins
Name: 42, dtype: object)
(43, Title           Freakonomics
Author       Dubner, Stephen
Genre              economics
Height                   197
Publisher            Penguin
Name: 43, dtype: object)
(44, Title        Hidden Connections, The
Author                Capra, Fritjof
Genre                        science
Height                           197
Publisher              HarperCollins
Name: 44, dtype: object)
(45, Title        Story of Philosophy, The
Author                   Durant, Will
Genre                      philosophy
Height                            170
Publisher                      Pocket
Name: 45, dtype: object)
(46, Title           Asami Asami
Author       Deshpande, P L
Genre               fiction
Height                  205
Publisher              Mauj
Name: 46, dtype: object)
(47, Title        Journal of a Novel
Author          Steinbeck, John
Genre                   fiction
Height                      196
Publisher               Penguin
Name: 47, dtype: object)
(48, Title        Once There Was a War
Author            Steinbeck, John
Genre                  nonfiction
Height                        196
Publisher                 Penguin
Name: 48, dtype: object)
(49, Title        Moon is Down, The
Author         Steinbeck, John
Genre                  fiction
Height                     196
Publisher              Penguin
Name: 49, dtype: object)
(50, Title        Brethren, The
Author       Grisham, John
Genre              fiction
Height                 174
Publisher     Random House
Name: 50, dtype: object)
(51, Title        In a Free State
Author        Naipaul, V. S.
Genre                fiction
Height                   196
Publisher               Rupa
Name: 51, dtype: object)
(52, Title              Catch 22
Author       Heller, Joseph
Genre               fiction
Height                  178
Publisher      Random House
Name: 52, dtype: object)
(53, Title        Complete Mastermind, The
Author                            BBC
Genre                      nonfiction
Height                            178
Publisher                         BBC
Name: 53, dtype: object)
(54, Title        Dylan on Dylan
Author           Dylan, Bob
Genre            nonfiction
Height                  197
Publisher      Random House
Name: 54, dtype: object)
(55, Title        Soft Computing & Intelligent Systems
Author                               Gupta, Madan
Genre                                data_science
Height                                        242
Publisher                                Elsevier
Name: 55, dtype: object)
(56, Title        Textbook of Economic Theory
Author                   Stonier, Alfred
Genre                          economics
Height                               242
Publisher                        Pearson
Name: 56, dtype: object)
(57, Title        Econometric Analysis
Author              Greene, W. H.
Genre                   economics
Height                        242
Publisher                 Pearson
Name: 57, dtype: object)
(58, Title        Learning OpenCV
Author         Bradsky, Gary
Genre           data_science
Height                   232
Publisher           O'Reilly
Name: 58, dtype: object)
(59, Title        Data Structures Using C & C++
Author                   Tanenbaum, Andrew
Genre                     computer_science
Height                                 235
Publisher                    Prentice Hall
Name: 59, dtype: object)
(60, Title        Computer Vision, A Modern Approach
Author                           Forsyth, David
Genre                              data_science
Height                                      255
Publisher                               Pearson
Name: 60, dtype: object)
(61, Title        Principles of Communication Systems
Author                           Taub, Schilling
Genre                           computer_science
Height                                       240
Publisher                                    TMH
Name: 61, dtype: object)
(62, Title                  Let Us C
Author       Kanetkar, Yashwant
Genre          computer_science
Height                      213
Publisher         Prentice Hall
Name: 62, dtype: object)
(63, Title        Amulet of Samarkand, The
Author               Stroud, Jonathan
Genre                         fiction
Height                            179
Publisher                Random House
Name: 63, dtype: object)
(64, Title        Crime and Punishment
Author         Dostoevsky, Fyodor
Genre                     fiction
Height                        180
Publisher                 Penguin
Name: 64, dtype: object)
(65, Title        Angels & Demons
Author            Brown, Dan
Genre                fiction
Height                   178
Publisher       Random House
Name: 65, dtype: object)
(66, Title        Argumentative Indian, The
Author                    Sen, Amartya
Genre                       nonfiction
Height                             209
Publisher                      Picador
Name: 66, dtype: object)
(67, Title        Sea of Poppies
Author        Ghosh, Amitav
Genre               fiction
Height                  197
Publisher           Penguin
Name: 67, dtype: object)
(68, Title        Idea of Justice, The
Author               Sen, Amartya
Genre                  nonfiction
Height                        212
Publisher                 Penguin
Name: 68, dtype: object)
(69, Title        Raisin in the Sun, A
Author        Hansberry, Lorraine
Genre                     fiction
Height                        175
Publisher                 Penguin
Name: 69, dtype: object)
(70, Title        All the President's Men
Author                 Woodward, Bob
Genre                        history
Height                           177
Publisher               Random House
Name: 70, dtype: object)
(71, Title        Prisoner of Birth, A
Author            Archer, Jeffery
Genre                     fiction
Height                        176
Publisher                     Pan
Name: 71, dtype: object)
(72, Title               Scoop!
Author       Nayar, Kuldip
Genre              history
Height                 216
Publisher    HarperCollins
Name: 72, dtype: object)
(73, Title         Ahe Manohar Tari
Author       Deshpande, Sunita
Genre               nonfiction
Height                     213
Publisher                 Mauj
Name: 73, dtype: object)
(74, Title          Last Mughal, The
Author       Dalrymple, William
Genre                   history
Height                      199
Publisher               Penguin
Name: 74, dtype: object)
(75, Title        Social Choice & Welfare, Vol 39 No. 1
Author                                     Various
Genre                                    economics
Height                                         235
Publisher                                 Springer
Name: 75, dtype: object)
(76, Title        Radiowaril Bhashane & Shrutika
Author                       Deshpande, P L
Genre                            nonfiction
Height                                  213
Publisher                              Mauj
Name: 76, dtype: object)
(77, Title        Gun Gayin Awadi
Author        Deshpande, P L
Genre             nonfiction
Height                   212
Publisher               Mauj
Name: 77, dtype: object)
(78, Title          Aghal Paghal
Author       Deshpande, P L
Genre            nonfiction
Height                  212
Publisher              Mauj
Name: 78, dtype: object)
(79, Title        Maqta-e-Ghalib
Author         Garg, Sanjay
Genre               fiction
Height                  221
Publisher              Mauj
Name: 79, dtype: object)
(80, Title        Beyond Degrees
Author                  NaN
Genre            nonfiction
Height                  222
Publisher     HarperCollins
Name: 80, dtype: object)
(81, Title            Manasa
Author        Kale, V P
Genre        nonfiction
Height              213
Publisher          Mauj
Name: 81, dtype: object)
(82, Title        India from Midnight to Milennium
Author                        Tharoor, Shashi
Genre                                 history
Height                                    198
Publisher                             Penguin
Name: 82, dtype: object)
(83, Title        World's Greatest Trials, The
Author                                NaN
Genre                             history
Height                                210
Publisher                             NaN
Name: 83, dtype: object)
(84, Title        Great Indian Novel, The
Author               Tharoor, Shashi
Genre                        fiction
Height                           198
Publisher                    Penguin
Name: 84, dtype: object)
(85, Title               O Jerusalem!
Author       Lapierre, Dominique
Genre                    history
Height                       217
Publisher                  vikas
Name: 85, dtype: object)
(86, Title           City of Joy, The
Author       Lapierre, Dominique
Genre                    fiction
Height                       177
Publisher                  vikas
Name: 86, dtype: object)
(87, Title        Freedom at Midnight
Author       Lapierre, Dominique
Genre                    history
Height                       167
Publisher                  vikas
Name: 87, dtype: object)
(88, Title        Winter of Our Discontent, The
Author                     Steinbeck, John
Genre                              fiction
Height                                 196
Publisher                          Penguin
Name: 88, dtype: object)
(89, Title             On Education
Author       Russell, Bertrand
Genre               philosophy
Height                     203
Publisher            Routledge
Name: 89, dtype: object)
(90, Title          Free Will
Author       Harris, Sam
Genre         philosophy
Height               203
Publisher      FreePress
Name: 90, dtype: object)
(91, Title        Bookless in Baghdad
Author           Tharoor, Shashi
Genre                 nonfiction
Height                       206
Publisher                Penguin
Name: 91, dtype: object)
(92, Title        Case of the Lame Canary, The
Author             Gardner, Earle Stanley
Genre                             fiction
Height                                179
Publisher                             NaN
Name: 92, dtype: object)
(93, Title        Theory of Everything, The
Author                Hawking, Stephen
Genre                          science
Height                             217
Publisher                        Jaico
Name: 93, dtype: object)
(94, Title        New Markets & Other Essays
Author                   Drucker, Peter
Genre                         economics
Height                              176
Publisher                       Penguin
Name: 94, dtype: object)
(95, Title        Electric Universe
Author          Bodanis, David

(120, Title         Half A Life
Author       Naipaul, V S
Genre             fiction
Height                196
Publisher             NaN
Name: 120, dtype: object)
(121, Title        Discovery of India, The
Author             Nehru, Jawaharlal
Genre                        history
Height                           230
Publisher                        NaN
Name: 121, dtype: object)
(122, Title                Apulki
Author       Deshpande, P L
Genre            nonfiction
Height                  211
Publisher               NaN
Name: 122, dtype: object)
(123, Title         Unpopular Essays
Author       Russell, Bertrand
Genre               philosophy
Height                     198
Publisher                  NaN
Name: 123, dtype: object)
(124, Title             Deceiver, The
Author       Forsyth, Frederick
Genre                   fiction
Height                      178
Publisher                   NaN
Name: 124, dtype: object)
(125, Title        Veil: Secret Wars of the CIA
Author                      Woodward, Bob
Genre                             history
Height                                171
Publisher                             NaN
Name: 125, dtype: object)
(126, Title           Char Shabda
Author       Deshpande, P L
Genre            nonfiction
Height                  214
Publisher               NaN
Name: 126, dtype: object)
(127, Title        Rosy is My Relative
Author           Durrell, Gerald
Genre                    fiction
Height                       176
Publisher                    NaN
Name: 127, dtype: object)
(128, Title        Moon and Sixpence, The
Author           Maugham, William S
Genre                       fiction
Height                          180
Publisher                       NaN
Name: 128, dtype: object)
(129, Title        Political Philosophers
Author                          NaN
Genre                    philosophy
Height                          162
Publisher                       NaN
Name: 129, dtype: object)
(130, Title        Short History of the World, A
Author                          Wells, H G
Genre                              history
Height                                 197
Publisher                              NaN
Name: 130, dtype: object)
(131, Title        Trembling of a Leaf, The
Author             Maugham, William S
Genre                         fiction
Height                            205
Publisher                         NaN
Name: 131, dtype: object)
(132, Title        Doctor on the Brain
Author           Gordon, Richard
Genre                    fiction
Height                       204
Publisher                    NaN
Name: 132, dtype: object)
(133, Title        Simpsons & Their Mathematical Secrets
Author                                Singh, Simon
Genre                                      science
Height                                         233
Publisher                                      NaN
Name: 133, dtype: object)
(134, Title        Pattern Classification
Author                   Duda, Hart
Genre                  data_science
Height                          241
Publisher                       NaN
Name: 134, dtype: object)
(135, Title        From Beirut to Jerusalem
Author               Friedman, Thomas
Genre                         history
Height                            202
Publisher                         NaN
Name: 135, dtype: object)
(136, Title        Code Book, The
Author         Singh, Simon
Genre               science
Height                  197
Publisher               NaN
Name: 136, dtype: object)
(137, Title        Age of the Warrior, The
Author                  Fisk, Robert
Genre                        history
Height                           197
Publisher                        NaN
Name: 137, dtype: object)
(138, Title        Final Crisis
Author                NaN
Genre               comic
Height                257
Publisher             NaN
Name: 138, dtype: object)
(139, Title        Killing Joke, The
Author                     NaN
Genre                    comic
Height                     283
Publisher                  NaN
Name: 139, dtype: object)
(140, Title        Flashpoint
Author              NaN
Genre             comic
Height              265
Publisher           NaN
Name: 140, dtype: object)
(141, Title        Batman Earth One
Author                    NaN
Genre                   comic
Height                    265
Publisher                 NaN
Name: 141, dtype: object)
(142, Title        Crisis on Infinite Earths
Author                             NaN
Genre                            comic
Height                             258
Publisher                          NaN
Name: 142, dtype: object)
(143, Title        Numbers Behind Numb3rs, The
Author                     Devlin, Keith
Genre                            science
Height                               202
Publisher                            NaN
Name: 143, dtype: object)
(144, Title        Superman Earth One - 1
Author                          NaN
Genre                         comic
Height                          259
Publisher                       NaN
Name: 144, dtype: object)
(145, Title        Superman Earth One - 2
Author                          NaN
Genre                         comic
Height                          258
Publisher                       NaN
Name: 145, dtype: object)
(146, Title        Justice League: Throne of Atlantis
Author                                      NaN
Genre                                     comic
Height                                      258
Publisher                                   NaN
Name: 146, dtype: object)
(147, Title        Justice League: The Villain's Journey
Author                                         NaN
Genre                                        comic
Height                                         258
Publisher                                      NaN
Name: 147, dtype: object)
(148, Title        Death of Superman, The
Author                          NaN
Genre                         comic
Height                          258
Publisher                       NaN
Name: 148, dtype: object)
(149, Title        History of the DC Universe
Author                              NaN
Genre                             comic
Height                              258
Publisher                           NaN
Name: 149, dtype: object)
(150, Title        Batman: The Long Halloween
Author                              NaN
Genre                             comic
Height                              258
Publisher                           NaN
Name: 150, dtype: object)
(151, Title        Life in Letters, A
Author          Steinbeck, John
Genre                nonfiction
Height                      196
Publisher                   NaN
Name: 151, dtype: object)
(152, Title        Information, The
Author          Gleick, James
Genre                 science
Height                    233
Publisher                 NaN
Name: 152, dtype: object)
(153, Title        Journal of Economics, vol 106 No 3
Author                                      NaN
Genre                                 economics
Height                                      235
Publisher                                   NaN
Name: 153, dtype: object)
(154, Title        Elements of Information Theory
Author                          Thomas, Joy
Genre                          data_science
Height                                  229
Publisher                               NaN
Name: 154, dtype: object)
(155, Title        Power Electronics - Rashid
Author                 Rashid, Muhammad
Genre                  computer_science
Height                              235
Publisher                           NaN
Name: 155, dtype: object)
(156, Title        Power Electronics - Mohan
Author                      Mohan, Ned
Genre                 computer_science
Height                             237
Publisher                          NaN
Name: 156, dtype: object)
(157, Title        Neural Networks
Author         Haykin, Simon
Genre           data_science
Height                   240
Publisher                NaN
Name: 157, dtype: object)
(158, Title        Grapes of Wrath, The
Author            Steinbeck, John
Genre                     fiction
Height                        196
Publisher                     NaN
Name: 158, dtype: object)
(159, Title        Vyakti ani Valli
Author         Deshpande, P L
Genre              nonfiction
Height                    211
Publisher                 NaN
Name: 159, dtype: object)
(160, Title        Statistical Learning Theory
Author                  Vapnik, Vladimir
Genre                       data_science
Height                               228
Publisher                            NaN
Name: 160, dtype: object)
(161, Title        Empire of the Mughal - The Tainted Throne
Author                                Rutherford, Alex
Genre                                          history
Height                                             180
Publisher                                          NaN
Name: 161, dtype: object)
(162, Title        Empire of the Mughal - Brothers at War
Author                             Rutherford, Alex
Genre                                       history
Height                                          180
Publisher                                       NaN
Name: 162, dtype: object)
(163, Title        Empire of the Mughal - Ruler of the World
Author                                Rutherford, Alex
Genre                                          history
Height                                             180
Publisher                                          NaN
Name: 163, dtype: object)
(164, Title        Empire of the Mughal - The Serpent's Tooth
Author                                 Rutherford, Alex
Genre                                           history
Height                                              180
Publisher                                           NaN
Name: 164, dtype: object)
(165, Title        Empire of the Mughal - Raiders from the North
Author                                    Rutherford, Alex
Genre                                              history
Height                                                 180
Publisher                                              NaN
Name: 165, dtype: object)
(166, Title                    Mossad
Author       Baz-Zohar, Michael
Genre                   history
Height                      236
Publisher                   NaN
Name: 166, dtype: object)
(167, Title        Jim Corbett Omnibus
Author              Corbett, Jim
Genre                 nonfiction
Height                       223
Publisher                    NaN
Name: 167, dtype: object)
(168, Title        20000 Leagues Under the Sea
Author                      Verne, Jules
Genre                            fiction
Height                               190
Publisher                            NaN
Name: 168, dtype: object)
(169, Title        Batatyachi Chal
Author         Deshpande P L
Genre                fiction
Height                   200
Publisher                NaN
Name: 169, dtype: object)
(170, Title           Hafasavnuk
Author       Deshpande P L
Genre              fiction
Height                 211
Publisher              NaN
Name: 170, dtype: object)
(171, Title            Urlasurla
Author       Deshpande P L
Genre              fiction
Height                 211
Publisher              NaN
Name: 171, dtype: object)
(172, Title             Pointers in C
Author       Kanetkar, Yashwant
Genre          computer_science
Height                      213
Publisher                   NaN
Name: 172, dtype: object)
(173, Title        Cathedral and the Bazaar, The
Author                       Raymond, Eric
Genre                     computer_science
Height                                 217
Publisher                              NaN
Name: 173, dtype: object)
(174, Title        Design with OpAmps
Author           Franco, Sergio
Genre          computer_science
Height                      240
Publisher                   NaN
Name: 174, dtype: object)
(175, Title        Think Complexity
Author          Downey, Allen
Genre            data_science
Height                    230
Publisher                 NaN
Name: 175, dtype: object)
(176, Title        Devil's Advocate, The
Author                West, Morris
Genre                      fiction
Height                         178
Publisher                      NaN
Name: 176, dtype: object)
(177, Title        Ayn Rand Answers
Author              Rand, Ayn
Genre              philosophy
Height                    203
Publisher                 NaN
Name: 177, dtype: object)
(178, Title        Philosophy: Who Needs It
Author                      Rand, Ayn
Genre                      philosophy
Height                            171
Publisher                         NaN
Name: 178, dtype: object)
(179, Title        World's Great Thinkers, The
Author                               NaN
Genre                         philosophy
Height                               189
Publisher                            NaN
Name: 179, dtype: object)
(180, Title        Data Analysis with Open Source Tools
Author                            Janert, Phillip
Genre                                data_science
Height                                        230
Publisher                                     NaN
Name: 180, dtype: object)
(181, Title        Broca's Brain
Author         Sagan, Carl
Genre              science
Height                 174
Publisher              NaN
Name: 181, dtype: object)
(182, Title        Men of Mathematics
Author                Bell, E T
Genre               mathematics
Height                      217
Publisher                   NaN
Name: 182, dtype: object)
(183, Title        Oxford book of Modern Science Writing
Author                            Dawkins, Richard
Genre                                      science
Height                                         240
Publisher                                      NaN
Name: 183, dtype: object)
(184, Title        Justice, Judiciary and Democracy
Author                      Ranjan, Sudhanshu
Genre                              philosophy
Height                                    224
Publisher                                 NaN
Name: 184, dtype: object)
(185, Title        Arthashastra, The
Author                Kautiyla
Genre               philosophy
Height                     214
Publisher                  NaN
Name: 185, dtype: object)
(186, Title        We the People
Author          Palkhivala
Genre           philosophy
Height                 216
Publisher              NaN
Name: 186, dtype: object)
(187, Title        We the Nation
Author          Palkhivala
Genre           philosophy
Height                 216
Publisher              NaN
Name: 187, dtype: object)
(188, Title        Courtroom Genius, The
Author                    Sorabjee
Genre                   nonfiction
Height                         217
Publisher                      NaN
Name: 188, dtype: object)
(189, Title        Dongri to Dubai
Author        Zaidi, Hussain
Genre             nonfiction
Height                   216
Publisher                NaN
Name: 189, dtype: object)
(190, Title        History of England, Foundation
Author                       Ackroyd, Peter
Genre                               history
Height                                  197
Publisher                               NaN
Name: 190, dtype: object)
(191, Title            City of Djinns
Author       Dalrymple, William
Genre                   history
Height                      198
Publisher                   NaN
Name: 191, dtype: object)
(192, Title        India's Legal System
Author                    Nariman
Genre                  nonfiction
Height                        177
Publisher                     NaN
Name: 192, dtype: object)
(193, Title        More Tears to Cry
Author           Sassoon, Jean
Genre                  fiction
Height                     235
Publisher                  NaN
Name: 193, dtype: object)
(194, Title          Ropemaker, The
Author       Dickinson, Peter
Genre                 fiction
Height                    196
Publisher                 NaN
Name: 194, dtype: object)
(195, Title        Angels & Demons
Author            Brown, Dan
Genre                fiction
Height                   170
Publisher                NaN
Name: 195, dtype: object)
(196, Title        Judge, The
Author              NaN
Genre           fiction
Height              170
Publisher           NaN
Name: 196, dtype: object)
(197, Title        Attorney, The
Author                 NaN
Genre              fiction
Height                 170
Publisher              NaN
Name: 197, dtype: object)
(198, Title        Prince, The
Author       Machiavelli
Genre         philosophy
Height               173
Publisher            NaN
Name: 198, dtype: object)
(199, Title        Eyeless in Gaza
Author        Huxley, Aldous
Genre                fiction
Height                   180
Publisher                NaN
Name: 199, dtype: object)
(200, Title        Tales of Beedle the Bard
Author                   Rowling, J K
Genre                         fiction
Height                            184
Publisher                         NaN
Name: 200, dtype: object)
(201, Title        Girl with the Dragon Tattoo
Author                    Larsson, Steig
Genre                            fiction
Height                               179
Publisher                            NaN
Name: 201, dtype: object)
(202, Title        Girl who kicked the Hornet's Nest
Author                          Larsson, Steig
Genre                                  fiction
Height                                     179
Publisher                                  NaN
Name: 202, dtype: object)
(203, Title        Girl who played with Fire
Author                  Larsson, Steig
Genre                          fiction
Height                             179
Publisher                          NaN
Name: 203, dtype: object)
(204, Title        Batman Handbook
Author                   NaN
Genre                  comic
Height                   270
Publisher                NaN
Name: 204, dtype: object)
(205, Title        Murphy's Law
Author                NaN
Genre          nonfiction
Height                178
Publisher             NaN
Name: 205, dtype: object)
(206, Title        Structure and Randomness
Author                   Tao, Terence
Genre                     mathematics
Height                            252
Publisher                         NaN
Name: 206, dtype: object)
(207, Title        Image Processing with MATLAB
Author                      Eddins, Steve
Genre                   signal_processing
Height                                241
Publisher                             NaN
Name: 207, dtype: object)
(208, Title           Animal Farm
Author       Orwell, George
Genre               fiction
Height                  180
Publisher               NaN
Name: 208, dtype: object)
(209, Title                Idiot, The
Author       Dostoevsky, Fyodor
Genre                   fiction
Height                      197
Publisher                   NaN
Name: 209, dtype: object)
(210, Title        Christmas Carol, A
Author         Dickens, Charles
Genre                   fiction
Height                      196
Publisher                   NaN
Name: 210, dtype: object)

### Table Printer

In [20]:
tableData = [
                ['apples', 'oranges', 'cherries', 'banana'],
                ['Alice', 'Bob', 'Carol', 'David'],
                ['dogs', 'cats', 'moose', 'goose']
            ]

def findLongest(l):
    longest = len(tableData[0][0])
    for i in range(4):
        for j in range(len(tableData)):
            if len(tableData[j][i]) > longest:
                longest = len(tableData[j][i])
            print(len(tableData[j][i]), end=" ")
        
        print('\n')
        
    return longest

indent = findLongest(tableData)

for i in range(4):
    for j in range(len(tableData)):
        print((tableData[j][i]).rjust(indent), end=" ")
    print("\n")

6 5 4

7 3 4

8 5 5

6 5 5

  apples    Alice     dogs

 oranges      Bob     cats

cherries    Carol    moose

  banana    David    goose

## Search for word or words in a clipboard text

In [77]:
import pyperclip

text = pyperclip.paste()
word = 'lorem'
count = 0

for i in range(len(text)):
    #print(i, text[i:len(word)+i])
    if text[i:len(word)+i].upper() == word.upper():
        print(text[i:len(word)+i])
        count += 1
print(f'Number of occurance for the word {word} is {count}')

Lorem
Lorem
Lorem
Lorem
Number of occurance for the word lorem is 4

In [1]:
import pandas as pd
import pandas_datareader as data

In [5]:
companies = ["MSFT", "GOOG", "AAPL", "AMZN"]
p = data.DataReader(name = companies, data_source = "yahoo", 
                start = "2020-01-10", end = "2021-06-22")

p

Attributes   Adj Close                                             Close  \
Symbols           AAPL         AMZN         GOOG        MSFT        AAPL
Date
2020-01-10   76.673225  1883.160034  1429.729980  158.914932   77.582497
2020-01-13   78.311295  1891.300049  1439.229980  160.825775   79.239998
2020-01-14   77.253838  1869.439941  1430.880005  159.693054   78.169998
2020-01-15   76.922775  1862.020020  1439.199951  160.727264   77.834999
2020-01-16   77.886337  1877.939941  1451.699951  163.672348   78.809998
2020-01-17   78.748619  1864.719971  1480.390015  164.588379   79.682503
2020-01-21   78.214951  1892.000000  1484.400024  163.997375   79.142502
2020-01-22   78.494141  1887.459961  1485.949951  163.209412   79.425003
2020-01-23   78.872154  1884.579956  1486.650024  164.214081   79.807503
2020-01-24   78.644852  1861.640015  1466.709961  162.559326   79.577499
2020-01-27   76.332275  1828.339966  1433.900024  159.840805   77.237503
2020-01-28   78.491669  1853.250000  1452.560059  162.973038   79.422501
2020-01-29   80.134674  1858.000000  1458.630005  165.514221   81.084999
2020-01-30   80.018555  1870.680054  1455.839966  170.182999   80.967499
2020-01-31   76.470634  2008.719971  1434.229980  167.671310   77.377502
2020-02-03   76.260628  2004.199951  1485.939941  171.758942   77.165001
2020-02-04   78.778267  2049.669922  1447.069946  177.412659   79.712502
2020-02-05   79.420647  2039.869995  1448.229980  177.195969   80.362503
2020-02-06   80.349632  2050.229980  1476.229980  180.869888   81.302498
2020-02-07   79.257469  2079.280029  1479.229980  181.126007   80.007500
2020-02-10   79.633904  2133.909912  1508.680054  185.863693   80.387497
2020-02-11   79.153442  2150.800049  1508.790039  181.667740   79.902496
2020-02-12   81.033165  2160.000000  1518.270020  181.933685   81.800003
2020-02-13   80.456116  2149.870117  1514.660034  180.948715   81.217499
2020-02-14   80.475937  2134.870117  1520.739990  182.564056   81.237503
2020-02-18   79.002380  2155.669922  1519.670044  184.415817   79.750000
2020-02-19   80.146545  2170.219971  1526.689941  184.968872   80.904999
2020-02-20   79.324333  2153.100098  1518.150024  182.144180   80.074997
2020-02-21   77.528809  2095.969971  1485.109985  176.386124   78.262497
2020-02-24   73.846161  2009.290039  1421.589966  168.781143   74.544998
...                ...          ...          ...         ...         ...
2021-05-11  125.910004  3223.909912  2308.760010  245.662735  125.910004
2021-05-12  122.769997  3151.939941  2239.080078  238.449402  122.769997
2021-05-13  124.970001  3161.469971  2261.969971  242.470108  124.970001
2021-05-14  127.449997  3222.899902  2316.159912  247.578308  127.449997
2021-05-17  126.269997  3270.389893  2321.409912  244.615158  126.269997
2021-05-18  124.849998  3232.280029  2303.429932  242.520004  124.849998
2021-05-19  124.690002  3231.800049  2308.709961  243.119995  124.690002
2021-05-20  127.309998  3247.679932  2356.090088  246.479996  127.309998
2021-05-21  125.430000  3203.080078  2345.100098  245.169998  125.430000
2021-05-24  127.099998  3244.989990  2406.669922  250.779999  127.099998
2021-05-25  126.900002  3259.050049  2409.070068  251.720001  126.900002
2021-05-26  126.849998  3265.159912  2433.530029  251.490005  126.849998
2021-05-27  125.279999  3230.110107  2402.510010  249.309998  125.279999
2021-05-28  124.610001  3223.070068  2411.560059  249.679993  124.610001
2021-06-01  124.279999  3218.649902  2429.810059  247.399994  124.279999
2021-06-02  125.059998  3233.989990  2421.280029  247.300003  125.059998
2021-06-03  123.540001  3187.010010  2404.610107  245.710007  123.540001
2021-06-04  125.889999  3206.219971  2451.760010  250.789993  125.889999
2021-06-07  125.900002  3198.010010  2466.090088  253.809998  125.900002
2021-06-08  126.739998  3264.110107  2482.850098  252.570007  126.739998
2021-06-09  127.129997  3281.149902  2491.399902  253.589996  127.129997
2021-06-10  126.110001  3349.649902  2521.600098  257.239990  126.110001
2021-06-11  127.349998  3346.830078  2513.929932  257.890015  127.349998
2021-06-14  130.479996  3383.870117  2527.040039  259.890015  130.479996
2021-06-15  129.639999  3383.129883  2520.659912  258.359985  129.639999
2021-06-16  130.149994  3415.250000  2513.929932  257.380005  130.149994
2021-06-17  131.789993  3489.239990  2527.419922  260.899994  131.789993
2021-06-18  130.460007  3486.899902  2511.350098  259.429993  130.460007
2021-06-21  132.300003  3453.959961  2529.100098  262.630005  132.300003
2021-06-22  133.979996  3505.439941  2539.989990  265.510010  133.979996

Attributes                                              High               \
Symbols            AMZN         GOOG        MSFT        AAPL         AMZN
Date
2020-01-10  1883.160034  1429.729980  161.339996   78.167503  1906.939941
2020-01-13  1891.300049  1439.229980  163.279999   79.267502  1898.000000
2020-01-14  1869.439941  1430.880005  162.130005   79.392502  1887.109985
2020-01-15  1862.020020  1439.199951  163.179993   78.875000  1878.859985
2020-01-16  1877.939941  1451.699951  166.169998   78.925003  1885.589966
2020-01-17  1864.719971  1480.390015  167.100006   79.684998  1886.640015
2020-01-21  1892.000000  1484.400024  166.500000   79.754997  1894.270020
2020-01-22  1887.459961  1485.949951  165.699997   79.997498  1902.500000
2020-01-23  1884.579956  1486.650024  166.720001   79.889999  1889.979980
2020-01-24  1861.640015  1466.709961  165.039993   80.832497  1894.989990
2020-01-27  1828.339966  1433.900024  162.279999   77.942497  1841.000000
2020-01-28  1853.250000  1452.560059  165.460007   79.599998  1858.109985
2020-01-29  1858.000000  1458.630005  168.039993   81.962502  1874.750000
2020-01-30  1870.680054  1455.839966  172.779999   81.022499  1872.869995
2020-01-31  2008.719971  1434.229980  170.229996   80.669998  2055.719971
2020-02-03  2004.199951  1485.939941  174.380005   78.372498  2048.500000
2020-02-04  2049.669922  1447.069946  180.119995   79.910004  2059.800049
2020-02-05  2039.869995  1448.229980  179.899994   81.190002  2071.020020
2020-02-06  2050.229980  1476.229980  183.630005   81.305000  2056.300049
2020-02-07  2079.280029  1479.229980  183.889999   80.849998  2098.530029
2020-02-10  2133.909912  1508.680054  188.699997   80.387497  2135.600098
2020-02-11  2150.800049  1508.790039  184.440002   80.974998  2185.949951
2020-02-12  2160.000000  1518.270020  184.710007   81.805000  2180.250000
2020-02-13  2149.870117  1514.660034  183.710007   81.555000  2170.280029
2020-02-14  2134.870117  1520.739990  185.350006   81.495003  2159.040039
2020-02-18  2155.669922  1519.670044  187.229996   79.937500  2166.070068
2020-02-19  2170.219971  1526.689941  187.279999   81.142502  2185.100098
2020-02-20  2153.100098  1518.150024  184.419998   81.162498  2176.790039
2020-02-21  2095.969971  1485.109985  178.589996   80.112503  2144.550049
2020-02-24  2009.290039  1421.589966  170.889999   76.044998  2039.300049
...                 ...          ...         ...         ...          ...
2021-05-11  3223.909912  2308.760010  246.229996  126.269997  3238.000000
2021-05-12  3151.939941  2239.080078  239.000000  124.639999  3207.939941
2021-05-13  3161.469971  2261.969971  243.029999  126.150002  3203.840088
2021-05-14  3222.899902  2316.159912  248.149994  127.889999  3228.860107
2021-05-17  3270.389893  2321.409912  245.179993  126.930000  3292.750000
2021-05-18  3232.280029  2303.429932  243.080002  126.989998  3312.000000
2021-05-19  3231.800049  2308.709961  243.119995  124.919998  3234.750000
2021-05-20  3247.679932  2356.090088  246.479996  127.720001  3259.679932
2021-05-21  3203.080078  2345.100098  245.169998  128.000000  3256.689941
2021-05-24  3244.989990  2406.669922  250.779999  127.940002  3257.949951
2021-05-25  3259.050049  2409.070068  251.720001  128.320007  3279.820068
2021-05-26  3265.159912  2433.530029  251.490005  127.389999  3295.729980
2021-05-27  3230.110107  2402.510010  249.309998  127.639999  3260.360107
2021-05-28  3223.070068  2411.560059  249.679993  125.800003  3247.989990
2021-06-01  3218.649902  2429.810059  247.399994  125.349998  3250.979980
2021-06-02  3233.989990  2421.280029  247.300003  125.239998  3235.000000
2021-06-03  3187.010010  2404.610107  245.710007  124.849998  3214.439941
2021-06-04  3206.219971  2451.760010  250.789993  126.160004  3221.000000
2021-06-07  3198.010010  2466.090088  253.809998  126.320000  3208.000000
2021-06-08  3264.110107  2482.850098  252.570007  128.460007  3279.530029
2021-06-09  3281.149902  2491.399902  253.589996  127.750000  3297.580078
2021-06-10  3349.649902  2521.600098  257.239990  128.190002  3351.000000
2021-06-11  3346.830078  2513.929932  257.890015  127.440002  3366.580078
2021-06-14  3383.870117  2527.040039  259.890015  130.539993  3385.000000
2021-06-15  3383.129883  2520.659912  258.359985  130.600006  3396.989990
2021-06-16  3415.250000  2513.929932  257.380005  130.889999  3426.350098
2021-06-17  3489.239990  2527.419922  260.899994  132.550003  3497.199951
2021-06-18  3486.899902  2511.350098  259.429993  131.509995  3507.000000
2021-06-21  3453.959961  2529.100098  262.630005  132.410004  3482.000000
2021-06-22  3505.439941  2539.989990  265.510010  134.080002  3523.752441

Attributes  ...          Low                    Open               \
Symbols     ...         GOOG        MSFT        AAPL         AMZN
Date        ...
2020-01-10  ...  1418.349976  161.179993   77.650002  1905.369995
2020-01-13  ...  1426.020020  161.259995   77.910004  1891.310059
2020-01-14  ...  1428.369995  161.720001   79.175003  1885.880005
2020-01-15  ...  1430.209961  162.570007   77.962502  1872.250000
2020-01-16  ...  1440.920044  164.029999   78.397499  1882.989990
2020-01-17  ...  1458.219971  165.429993   79.067497  1885.890015
2020-01-21  ...  1471.199951  166.429993   79.297501  1865.000000
2020-01-22  ...  1484.930054  165.679993   79.644997  1896.089966
2020-01-23  ...  1482.099976  165.270004   79.480003  1885.109985
2020-01-24  ...  1465.250000  164.449997   80.062500  1891.369995
2020-01-27  ...  1421.199951  160.199997   77.514999  1820.000000
2020-01-28  ...  1432.469971  163.070007   78.150002  1840.500000
2020-01-29  ...  1446.739990  165.690002   81.112503  1864.000000
2020-01-30  ...  1436.400024  170.789993   80.135002  1858.000000
2020-01-31  ...  1428.530029  169.580002   80.232498  2051.469971
2020-02-03  ...  1458.989990  170.399994   76.074997  2010.599976
2020-02-04  ...  1426.300049  176.309998   78.827499  2029.880005
2020-02-05  ...  1430.560059  178.410004   80.879997  2071.020020
2020-02-06  ...  1449.569946  180.059998   80.642502  2041.020020
2020-02-07  ...  1466.349976  182.479996   80.592499  2041.989990
2020-02-10  ...  1474.319946  183.250000   78.544998  2085.010010
2020-02-11  ...  1505.637939  183.500000   80.900002  2150.899902
2020-02-12  ...  1508.109985  181.850006   80.367500  2163.199951
2020-02-13  ...  1504.599976  182.869995   81.047501  2144.989990
2020-02-14  ...  1507.339966  182.649994   81.184998  2155.679932
2020-02-18  ...  1512.589966  185.500000   78.839996  2125.020020
2020-02-19  ...  1521.400024  186.470001   80.000000  2167.800049
2020-02-20  ...  1506.819946  181.100006   80.657501  2173.070068
2020-02-21  ...  1480.439941  177.250000   79.654999  2142.149902
2020-02-24  ...  1411.390015  163.229996   74.315002  2003.180054
...         ...          ...         ...         ...          ...
2021-05-11  ...  2283.000000  242.570007  123.500000  3136.280029
2021-05-12  ...  2230.050049  238.070007  123.400002  3185.000000
2021-05-13  ...  2242.719971  241.419998  124.580002  3185.469971
2021-05-14  ...  2283.320068  245.490005  126.250000  3185.560059
2021-05-17  ...  2295.000000  243.520004  126.820000  3245.929932
2021-05-18  ...  2303.159912  242.899994  126.559998  3292.580078
2021-05-19  ...  2263.520020  238.600006  123.160004  3195.000000
2021-05-20  ...  2321.090088  243.860001  125.230003  3244.399902
2021-05-21  ...  2342.370117  244.740005  127.820000  3250.000000
2021-05-24  ...  2360.110107  247.509995  126.010002  3215.500000
2021-05-25  ...  2402.989990  250.820007  127.820000  3266.669922
2021-05-26  ...  2412.514893  250.750000  126.959999  3274.590088
2021-05-27  ...  2402.000000  249.250000  126.440002  3256.000000
2021-05-28  ...  2407.689941  249.559998  125.570000  3242.000000
2021-06-01  ...  2404.879883  246.960007  125.080002  3243.500000
2021-06-02  ...  2404.199951  245.839996  124.279999  3223.100098
2021-06-03  ...  2382.830078  243.000000  124.680000  3204.229980
2021-06-04  ...  2417.770020  247.509995  124.070000  3212.000000
2021-06-07  ...  2441.072998  249.809998  126.169998  3197.330078
2021-06-08  ...  2468.239990  252.509995  126.599998  3222.610107
2021-06-09  ...  2487.330078  253.210007  127.209999  3272.870117
2021-06-10  ...  2494.000000  253.669998  127.019997  3282.010010
2021-06-11  ...  2498.290039  256.609985  126.529999  3349.649902
2021-06-14  ...  2500.939941  256.799988  127.820000  3346.830078
2021-06-15  ...  2512.969971  257.679993  129.940002  3384.000000
2021-06-16  ...  2482.999023  254.419998  130.369995  3392.000000
2021-06-17  ...  2510.300049  256.010010  129.800003  3403.179932
2021-06-18  ...  2492.060059  258.750000  130.710007  3479.989990
2021-06-21  ...  2502.685059  257.920013  130.300003  3476.419922
2021-06-22  ...  2520.530029  262.420013  132.130005  3458.060059

Attributes                                Volume                         \
Symbols            GOOG        MSFT         AAPL        AMZN       GOOG
Date
2020-01-10  1427.560059  162.820007  140644800.0   2853700.0  1820700.0
2020-01-13  1436.130005  161.759995  121532000.0   2780800.0  1652300.0
2020-01-14  1439.010010  163.389999  161954400.0   3440900.0  1558900.0
2020-01-15  1430.209961  162.619995  121923600.0   2896600.0  1282700.0
2020-01-16  1447.439941  164.350006  108829200.0   2659500.0  1173700.0
2020-01-17  1462.910034  167.419998  137816400.0   3997300.0  2396200.0
2020-01-21  1479.119995  166.679993  110843200.0   3707800.0  2036700.0
2020-01-22  1491.000000  167.399994  101832400.0   3216300.0  1610800.0
2020-01-23  1487.640015  166.190002  104472000.0   2484600.0  1351200.0
2020-01-24  1493.589966  167.509995  146537600.0   3766200.0  1784600.0
2020-01-27  1431.000000  161.149994  161940000.0   3528500.0  1755200.0
2020-01-28  1443.000000  163.779999  162234000.0   2808000.0  1577400.0
2020-01-29  1458.800049  167.839996  216229200.0   2088000.0  1077700.0
2020-01-30  1439.959961  174.050003  126743200.0   6327400.0  1339400.0
2020-01-31  1468.900024  172.210007  199588400.0  15567300.0  2417200.0
2020-02-03  1462.000000  170.429993  173788400.0   5891700.0  3036800.0
2020-02-04  1457.069946  177.139999  136616400.0   5289300.0  3933000.0
2020-02-05  1462.420044  184.029999  118826800.0   4376200.0  1986200.0
2020-02-06  1450.329956  180.970001  105425600.0   3183000.0  1679400.0
2020-02-07  1467.300049  182.850006  117684000.0   5095300.0  1172300.0
2020-02-10  1474.319946  183.580002  109348800.0   5056200.0  1419900.0
2020-02-11  1511.810059  190.649994   94323200.0   5746000.0  1344600.0
2020-02-12  1514.479980  185.580002  113730400.0   3334300.0  1167600.0
2020-02-13  1512.689941  183.080002   94747600.0   3031800.0   929500.0
2020-02-14  1515.599976  183.250000   80113600.0   2606200.0  1197800.0
2020-02-18  1515.000000  185.610001  152531200.0   2945600.0  1120700.0
2020-02-19  1525.069946  188.059998   93984000.0   2561200.0   949300.0
2020-02-20  1522.000000  186.949997  100566000.0   3131300.0  1096600.0
2020-02-21  1508.030029  183.169998  129554000.0   4646300.0  1731700.0
2020-02-24  1426.109985  167.770004  222195200.0   6547000.0  2867100.0
...                 ...         ...          ...         ...        ...
2021-05-11  2291.860107  244.550003  126142800.0   4619800.0  1605500.0
2021-05-12  2261.709961  242.169998  112172300.0   4936400.0  1746700.0
2021-05-13  2261.090088  241.800003  105861300.0   3350900.0  1333500.0
2021-05-14  2291.830078  245.580002   81918000.0   3325000.0  1331200.0
2021-05-17  2309.320068  246.550003   74244600.0   3723900.0   992100.0
2021-05-18  2336.906006  246.270004   63342900.0   2828400.0   865100.0
2021-05-19  2264.399902  239.309998   92612000.0   2679700.0   967500.0
2021-05-20  2328.040039  243.960007   76857100.0   2633200.0  1191600.0
2021-05-21  2365.989990  247.570007   79295400.0   4104900.0  1141600.0
2021-05-24  2367.000000  247.789993   63092900.0   2422800.0  1062200.0
2021-05-25  2420.000000  251.770004   72009500.0   3261100.0   941900.0
2021-05-26  2412.834961  251.429993   56575900.0   2384000.0  1092800.0
2021-05-27  2436.939941  251.169998   94625600.0   2561200.0  1948100.0
2021-05-28  2421.959961  251.000000   71311100.0   2329800.0  1205400.0
2021-06-01  2422.000000  251.229996   67637100.0   2430000.0   958300.0
2021-06-02  2435.310059  248.130005   59278900.0   2014500.0   857900.0
2021-06-03  2395.020020  245.220001   76229200.0   2398300.0   917300.0
2021-06-04  2422.520020  247.759995   75169300.0   2245700.0  1297400.0
2021-06-07  2451.320068  249.979996   71057600.0   2215800.0  1192500.0
2021-06-08  2479.899902  255.160004   74403800.0   3416700.0  1253000.0
2021-06-09  2499.500000  253.809998   56877900.0   2455500.0  1006300.0
2021-06-10  2494.010010  254.289993   71186400.0   3476500.0  1561700.0
2021-06-11  2524.919922  257.989990   53522400.0   2817400.0  1262000.0
2021-06-14  2513.389893  257.899994   96906500.0   2569700.0  1127500.0
2021-06-15  2530.439941  259.769989   62746300.0   2426200.0  1109100.0
2021-06-16  2524.949951  259.399994   91815000.0   4202800.0  1315800.0
2021-06-17  2510.459961  256.070007   96721700.0   5136500.0  1287800.0
2021-06-18  2514.110107  259.630005  108787300.0   5204900.0  2634700.0
2021-06-21  2514.800049  259.820007   79576500.0   3273400.0  1312400.0
2021-06-22  2529.000000  262.720001   71729155.0   3231921.0  1017499.0

Attributes
Symbols           MSFT
Date
2020-01-10  20725900.0
2020-01-13  21626500.0
2020-01-14  23477400.0
2020-01-15  21417900.0
2020-01-16  23865400.0
2020-01-17  34371700.0
2020-01-21  29517200.0
2020-01-22  24138800.0
2020-01-23  19680800.0
2020-01-24  24918100.0
2020-01-27  32078100.0
2020-01-28  24899900.0
2020-01-29  34754500.0
2020-01-30  51597500.0
2020-01-31  36142700.0
2020-02-03  30107000.0
2020-02-04  36433300.0
2020-02-05  39186300.0
2020-02-06  27751400.0
2020-02-07  33529100.0
2020-02-10  35844300.0
2020-02-11  53159900.0
2020-02-12  47062900.0
2020-02-13  35295800.0
2020-02-14  23149500.0
2020-02-18  27792200.0
2020-02-19  29997500.0
2020-02-20  36862400.0
2020-02-21  48572600.0
2020-02-24  68311100.0
...                ...
2021-05-11  33641600.0
2021-05-12  36684400.0
2021-05-13  29624300.0
2021-05-14  23901100.0
2021-05-17  24970200.0
2021-05-18  20168000.0
2021-05-19  25739800.0
2021-05-20  21800700.0
2021-05-21  21863100.0
2021-05-24  21411500.0
2021-05-25  17704300.0
2021-05-26  17771600.0
2021-05-27  24426200.0
2021-05-28  18270200.0
2021-06-01  23213300.0
2021-06-02  19406700.0
2021-06-03  25307700.0
2021-06-04  25281100.0
2021-06-07  23079200.0
2021-06-08  22455000.0
2021-06-09  17937600.0
2021-06-10  24563600.0
2021-06-11  18999700.0
2021-06-14  19150500.0
2021-06-15  18038900.0
2021-06-16  27220000.0
2021-06-17  27565500.0
2021-06-18  37090600.0
2021-06-21  26678100.0
2021-06-22  21034754.0

[365 rows x 24 columns]